{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content2 %}
    <h1>{% trans "Change Password" %}</h1>
    
    <form method="POST" action="" class="password_change submit_form">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_change_form }}
             <div class = "buttonHolder">
                 <button type="submit" name="action" class="btn btn-info btn-large">{% trans "Change Password" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
