{% extends 'base.html' %}

{% block nav_menu %}
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li class="dropdown">
                <a href="/tools/" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/tools/site_auditor/submit/">Site Auditor</a></li>
                  <li><a href="/tools/disavow_generator/submit/">Disavow Generator</a></li>
                </ul>
              </li>
              <li><a href="/contact/">Contact</a></li>
{% endblock %}

{% block panel %}
      <div class="hero-unit">
        <h2>Don't have an account?</h2>
        <p>Register today to get your access our powerful SEO tools. Our tools include a site auditor, broken link checker, and automatic disavow generator. We have all the tools you need to make your SEO campaign easy and hassle-free.</p>
        <p><a href="/registration/" class="btn btn-primary btn-large">Register &raquo;</a></p>
	  </div>
{% endblock %}

{% block content %}
<h2>Login Form</h2>

<form action="" method="POST">
{% csrf_token %}
{% if form.errors %}
<p>Please correct the following fields: </p>
{% endif %}
<div class="login_div">
	{% if form.username.errors %}<p class="form_error">{{ form.username.errors }}</p>{% endif %}
	<p><label for="username" {% if form.username.errors %}class="errors"{% endif %}>Username:</label></p>
	<p>{{ form.username }}</p>
</div>
<div class="login_div">
	{% if form.password.errors %}<p class="form_error">{{ form.password.errors }}</p>{% endif %}
	<p><label for="password" {% if form.password.errors %}class="errors"{% endif %}>Password:</label></p>
	<p>{{ form.password }}</p>
</div>
<input class="btn btn-primary" type="submit" name="submit" value="login" />
</form>
<p>Forgot your password? <a href="/resetpassword/">Reset password here</a>.
{% endblock %}